[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chris93b
[access "refs/for/refs/*"]
	read = group user/chris93b
	push = group user/chris93b
	label-Code-Review = -2..+2 group user/chris93b
	label-Verified = -1..+1 group user/chris93b
	rebase = group user/chris93b
	removeReviewer = group user/chris93b
	submit = group user/chris93b
[access "refs/heads/*"]
	read = group user/chris93b
	create = group user/chris93b
	push = +force group user/chris93b
	pushMerge = group user/chris93b
[access "refs/tags/*"]
	push = +force group user/chris93b
	pushTag = group user/chris93b
	pushSignedTag = group user/chris93b
